_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store
.idea/*
**/node_modules/**
assets/js/gulp/coverage/*
resources/kanji-data-media-master/radical-animations/*
assets/js/gulp/cypress/videos/*
assets/js/gulp/cypress/fixtures/*
resources/html/
**/__pycache__

# Test coverage
coverage/
