---
layout: default
---

<main class="cards">

{% assign items_grouped = site.data.radicals | group_by: 'Meaning' %}
{% for item in items_grouped %}
    <article class="card">
        <div>
            <!-- To print number in image <div class="number top-left">  </div> -->
            <img src="{{ '/assets/img/placeholder.svg' | relative_url }}" width="200" height="150" alt="kanji">
        </div>
        <div class="text">
            <h3 class="japanese">{% for kanji in item.items %}{{ kanji.Radical }}   {% endfor %}</h3>
            <p>{{ item.name }}</p>
        </div>
    </article>
{% endfor %}
</main>
