{% assign kanji = include.item %}


<!-- To print number in image <div class="number top-left">  </div> -->
<img class="lazy" src="{{ '/assets/img/placeholder-thumbnail.svg' | relative_url }}"
     data-srcset="{{ '/assets/img/front/' | relative_url }}{{ kanji.Number }}.svg" alt="kanji {{ kanji.Radical }} - {{ kanji.Meaning }}">
<div class="description">
    <h3 class="radical japanese" data-modal="{{ kanji.Number }}">{{ kanji.Radical }}</h3>
    <p class="meaning english">{{ kanji.Meaning }}</p>
    <div class="number-vignette {{ kanji.Category }}"> {{ kanji.Number }} </div>
</div>

