{% assign grouped_items = include.grouped_items %}

<main class="cards">
    {% for item in grouped_items %}
    <article class="card">
        <div class="inner">

            <div class="front">
                <!-- To print number in image <div class="number top-left">  </div> -->
                <img class="lazy" src="" data-srcset="{{ '/assets/img/placeholder.svg' | relative_url }}" alt="kanji">
                <div class="card-text">
                    {% for kanji in item.items %}
                    <h3 class="inline japanese" data-modal="{{ kanji.Number }}">{{ kanji.Radical }}</h3>
<!--                    {% include modal.html kanji=kanji %} -->
                    {% endfor %}
                    <p class="meaning">{{ item.name }}</p>
                </div>
            </div>

            <div class="back">
                <div class="contact-form">
                    <div>
                        <h1 class="modal-japanese">{{ kanji.Radical }}</h1>
                    </div>
                    <br>
                    <div>
                        <p class="modal-meaning ">🇯🇵  </p>
                        <h4 class="modal-meaning japanese">{{ kanji.Reading-J | default: 'n / a' }}</h4></div>
                    <div>
                        <p class="modal-meaning">🔤  </p>
                        <h4 class="modal-meaning">{{ kanji.Reading-R | default: 'n / a' }}</h4></div>
                    <div>
                        <p class="modal-meaning">📖  </p>
                        <h4 class="modal-meaning">{{ kanji.Meaning | default: 'n / a' }}</h4></div>
                </div>
            </div>

        </div>
    </article>

    {% endfor %}
</main>
