{% assign items = items %}

<main class="cards">
    {% for item in items %}
    <article id="card-{{ item.Number }}" class="card" data-value="{{ item.Number }}"
             data-stroke="{{ item.Strokes }}" data-frequency="{{ item.Frequency }}"
             data-reading="{{ item.Reading-R }}" data-category="{{ item.Category }}">
        <div class="inner">

            <div class="front">
                {% include card-front.html item=item %}
            </div>

            <div class="back">
                {% include card-back.html item=item %}
            </div>
        </div>
    </article>

    {% endfor %}
</main>
