{% assign kanji = include.item %}

<div class="up">
    <img class="lazy back-img" src=""
         data-srcset="{{ '/assets/img/gif/' | relative_url }}{{ kanji.Number }}.gif" alt="kanji stroke">
</div>
<div class="down">
    <div>
        <p class="modal-meaning ">🇯🇵 </p>
        <h4 class="modal-meaning japanese">{{ kanji.Reading-J | default: 'n / a' }}</h4>
    </div>
    <div>
        <p class="modal-meaning">🔤 </p>
        <h4 class="modal-meaning">{{ kanji.Reading-R | default: 'n / a' }}</h4>
    </div>
    <div>
        <p class="modal-meaning">📖 </p>
        <h4 class="modal-meaning">{{ kanji.Meaning | default: 'n / a' }}</h4>
    </div>
</div>

