{% assign kanji = include.kanji %}

<div id="{{ kanji.Number }}" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close">&times;</a>
            <div>
                <h1 class="modal-japanese">{{ kanji.Radical }}</h1>
            </div>
            <br>
            <div>
                <p class="modal-meaning ">🇯🇵  </p>
                <h4 class="modal-meaning kana">{{ kanji.Reading-J | default: 'n / a' }}</h4></div>
            <div>
                <p class="modal-meaning">🔤  </p>
                <h4 class="modal-meaning">{{ kanji.Reading-R | default: 'n / a' }}</h4></div>
            <div>
                <p class="modal-meaning">📖  </p>
                <h4 class="modal-meaning">{{ kanji.Meaning | default: 'n / a' }}</h4></div>
        </div>
    </div>
</div>
