<!doctype HTML>
<html lang="en">
<header>
    <title>Kanji radicals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/fonts.css' | relative_url }}" media="none"
          onload="if(media!='all')media='all'">
</header>
<body>
{{ content }}
</body>
<footer>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</footer>

</html>
