<!doctype HTML>
<header>
    <title>Kanji radicals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:900&display=swap" rel="stylesheet">
</header>
<body>
{{ content }}
</body>
<footer>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</footer>

