<!doctype HTML>
<html lang="en">
<header>
    <title>Kanji radicals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/img/favicon/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ '/assets/img/favicon/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon/favicon.ico' | relative_url }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ '/assets/img/favicon/browserconfig.xml' | relative_url }}">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/fonts.css' | relative_url }}" media="none"
          onload="if(media!='all')media='all'">

    <!-- Global site tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>

    <!-- Page analysis (analytics.js) -->
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>

    {% seo %}
</header>
<body>
{% include navbar.html %}

{{ content }}

<footer>
    <section class="footer">
        <ul class="footer-list">
            <li><a href="https://github.com/sylhare/kanji">Kanji</a></li>
            <li><a href="https://github.com/sylhare">Sylhare</a></li>
            <li><a href="https://github.com/sylhare/kanji/blob/master/LICENSE">MIT License</a></li>
        </ul>
    </section>
</footer>
<script defer src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
</body>
</html>
