/*! hkgokukaikk - SIL Open Font License, Version 1.1. */
$hkgokukaikk-font-path: "../../assets/fonts/hkgokukaikk" !default;

@font-face {
  font-family: 'hkgokukaikk';
  src: url('#{$hkgokukaikk-font-path}/hkgokukaikk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
