$font-path: "../../assets/fonts/japanese" !default;

/*! nagayama_kai - SIL Open Font License, Version 1.1. */
@font-face {
  font-family: 'kai';
  src: url('#{$font-path}/nagayama_kai.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
