/*! Japanese Radicals - Apache License Version 2.0 */
$japanese-font-path: "../../assets/fonts/japaneseRadicals" !default;

@font-face {
  font-family: 'JapaneseRadicals';
  src: url('#{$japanese-font-path}/JapaneseRadicals-Regular.eot') format('eot'), url('#{$japanese-font-path}/JapaneseRadicals-Regular.otf') format('otf'), url('#{$japanese-font-path}/JapaneseRadicals-Regular.woff2') format('woff2'), url('#{$japanese-font-path}/JapaneseRadicals-Regular.woff') format('woff'), url('#{$japanese-font-path}/JapaneseRadicals-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
