.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.card {
  flex: 1 1 auto;
  position: relative;
  margin: 10px;
  height: 100%;
  max-width: 400px;
  min-width: 250px;

  background-color: transparent;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  display: inline;

  &:hover .inner,
  &:active .inner {
    transform: rotateY(180deg);
  }
}

img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  background-color: #F8F8F8;
  @extend .hide-back;

  .lazy {
    padding: 100%;
  }
}

.card-text {
  padding: 0 20px 20px;
  @extend .hide-back;

  > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }
}

.inner {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: $card-radius;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform-style: preserve-3d;

  &:hover, &:active {
    overflow: visible;
  }
}

.front {
  @extend .hide-back;
  transform-style: preserve-3d;
}

.back {
  @extend .hide-back;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);
  top: 10%;
  height: 100%;
  width: 100%;

  .up {
    align-items: center;
    flex: auto;

    .back-img {
      width: 100px;
    }
  }

  .down {
    flex: auto;
    align-self: baseline;
    margin: 0 10%;
  }
}

.hide-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.number {
  position: absolute;
  bottom: 16px;
  right: 20px;
  color: white;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  opacity: 0.8;
}
