.footer {
  padding: 0.9375rem 1.875rem;
  background-color: #f8f8f8;
}

.footer-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;

    &:nth-last-child(2) {
      flex: 1 1 30%;
      align-self: flex-end;
    }

    a {
      color: black;

      &:hover {
        color: $kanji-color;
      }
    }

  }
}

@media screen and (max-width: 249px) {
  .footer-list a {
    font-size: 0.78em;
  }
}
