.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0 5px 0;
  background-image: linear-gradient(#f8f8f8, #fff);

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.menu-left {
      margin-left: 20px
    }

    &.menu-right {
      margin-right: 20px
    }
  }

  button {
    border: none;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      background-color: white;
      color: $kanji-color;
      box-shadow: 2px 2px 3px 0 rgba(#7f7f7f, .3);
    }
  }

  li {
    display: inline-block;
  }

}

.logo {
  height: 50px;
}

.submenu {
  display: none;
  justify-content: flex-end;
  flex-basis: 100%;

  & li {
    margin-top: 2px;
    margin-right: 20px;
  }
}

.main-menu a {
  padding: 10px;
  border-radius: 4px;
}

.sub-button {
  padding: 6px;
  border-radius: 10px;
  font-size: 0.7em;
}
