.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0 10px 0;
  //background-image: linear-gradient(#f8f8f8, #fff);

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.menu-left {
      margin-left: 20px
    }

    &.menu-right {
      margin-right: 20px
    }
  }

  button {
    border: none;
  }

  a, button {
    padding: 10px;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: white;
      border-radius: 4px;
      color: $kanji-color;
      box-shadow: 2px 2px 3px 0 rgba(#7f7f7f, .3);
    }
  }

  li {
    display: inline-block;
  }

}

.logo {
  height: 50px;
}

