.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0 5px 0;
  background-image: linear-gradient(#f8f8f8, #fff);

  a {
    text-decoration: none;
  }

  button {
    border: none;
  }

  li {
    display: inline-block;
  }

}

a.menu-button {
  color: black;

  &:hover {
    background-color: white;
    color: $kanji-color;
    box-shadow: 2px 2px 3px 0 rgba(#7f7f7f, .3);
  }
}

.submenu {
  display: none;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: flex-end;
  flex-basis: 100%;
  margin-top: -8px;

  & li {
    margin-top: 10px;
    margin-right: 5px;

    &:last-child {
      margin-right: 20px;
    }
  }
}

.main-menu a {
  padding: 10px;
  border-radius: 4px;
}

.sub-button {
  padding: 6px;
  border-radius: 10px;
  font-size: 0.7em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  &.menu-left {
    margin-left: 20px;
  }

  &.menu-right {
    margin-right: 20px;
  }
}

@media screen and (max-width: 400px) {

  .main-menu a {
    padding: 5px;
    font-size: 0.9em;
  }

  ul {
    &.menu-left {
      margin-left: 10px;
    }

    &.menu-right {
      margin-right: 10px;
    }
  }

  .logo {
    width: 90%;
  }

  .submenu {
    & li {
      margin-right: 5px;

      &:last-child {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 306px) {

  .main-menu a {
    padding: 2px;
    font-size: 0.78em;
  }

  ul {
    &.menu-left {
      margin-left: 5px;
    }

    &.menu-right {
      margin-right: 5px;
    }
  }

  .logo {
    width: 75%;
  }

}
