@mixin background($color) {
  background-color: $color
}

@mixin border-color($color) {
  border-color: $color;
  box-shadow: 2px 2px 6px 0 rgba($color, .3);
}

@mixin button-color($color) {
  background-color: $color;
  color: white;
  box-shadow: 2px 2px 3px 0 rgba(#7f7f7f, .3);

  &:hover {
    background-color: white;
    color: $color;
  }
}

.Number-border {
  @include border-color($number);
}

#Number-filter {
  @include button-color($number)
}


.Number {
  @include background($number);
}

.Weapon-border {
  @include border-color($weapon);
}

.Weapon {
  @include background($weapon);
}

.Other-border {
  @include border-color($other);
}

.Other {
  @include background($other);
}

.Fishing-border {
  @include border-color($fishing);
}

.Fishing {
  @include background($fishing);
}

.Home-border {
  @include border-color($home);
}

.Home {
  @include background($home);
}

.Body-border {
  @include border-color($body);
}

.Body {
  @include background($body);
}

.Capability-border {
  @include border-color($capability);
}

.Capability {
  @include background($capability);
}

.Nature-border {
  @include border-color($nature);
}

.Nature {
  @include background($nature);
}

.Ceremony-border {
  @include border-color($ceremony);
}

.Ceremony {
  @include background($ceremony);
}

.Society-border {
  @include border-color($society);
}

.Society {
  @include background($society);
}

.Agriculture-border {
  @include border-color($agriculture);
}

.Agriculture {
  @include background($agriculture);
}

.Clothing-border {
  @include border-color($clothing);
}

.Clothing {
  @include background($clothing);
}

.Animal-border {
  @include border-color($animal);
}

.Animal {
  @include background($animal);
}

.Food-border {
  @include border-color($food);
}

.Food {
  @include background($food);
}

.Color-border {
  @include border-color($color);
}

.Color {
  @include background($color);
}
