@mixin background($color) {
  background-color: $color
}

@mixin border-color($color) {
  border-color: $color;
  box-shadow: 2px 2px 6px 0 rgba($color, .3);
}

@mixin button-color($color) {
  background-color: $color;
  color: white;
  box-shadow: 2px 2px 3px 0 rgba(#7f7f7f, .3);

  &:hover {
    background-color: white;
    color: $color;
  }
}

#Frequency-sort {
  @include button-color($frequency-sort)
}

#Category-sort {
  @include button-color($category-sort)
}

#Reading-sort {
  @include button-color($reading-sort)
}

#Number-sort {
  @include button-color($number-sort)
}

#Number-filter { @include button-color($number) }
.Number { @include background($number); }
.Number-border { @include border-color($number); }

#Weapon-filter { @include button-color($weapon) }
.Weapon { @include background($weapon); }
.Weapon-border { @include border-color($weapon); }

#Other-filter { @include button-color($other) }
.Other { @include background($other); }
.Other-border { @include border-color($other); }

#Fishing-filter { @include button-color($fishing) }
.Fishing { @include background($fishing); }
.Fishing-border { @include border-color($fishing); }

#Home-filter { @include button-color($home) }
.Home { @include background($home); }
.Home-border { @include border-color($home); }

#Body-filter { @include button-color($body) }
.Body { @include background($body); }
.Body-border { @include border-color($body); }

#Capability-filter { @include button-color($capability) }
.Capability { @include background($capability); }
.Capability-border { @include border-color($capability); }

#Nature-filter { @include button-color($nature) }
.Nature { @include background($nature); }
.Nature-border { @include border-color($nature); }

#Ceremony-filter { @include button-color($ceremony) }
.Ceremony { @include background($ceremony); }
.Ceremony-border { @include border-color($ceremony); }

#Society-filter { @include button-color($society) }
.Society { @include background($society); }
.Society-border { @include border-color($society); }

#Agriculture-filter { @include button-color($agriculture) }
.Agriculture { @include background($agriculture); }
.Agriculture-border { @include border-color($agriculture); }

#Clothing-filter { @include button-color($clothing) }
.Clothing { @include background($clothing); }
.Clothing-border { @include border-color($clothing); }

#Animal-filter { @include button-color($animal) }
.Animal { @include background($animal); }
.Animal-border { @include border-color($animal); }

#Food-filter { @include button-color($food) }
.Food { @include background($food); }
.Food-border { @include border-color($food); }

#Color-filter { @include button-color($color) }
.Color { @include background($color); }
.Color-border { @include border-color($color); }
