* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  font-family: Arial, serif;
}

.japanese {
  font-family: $font-japan;
}

.japanese-calligraphy {
  font-family: $font-japan-calligraphy;
}

.inline {
  display: inline;
  padding-right: 1vw;
}

.center {
  text-align: center;
}

.english {
  padding-top: 10px;
  font-family: 'Arial', sans-serif;
}

.english-back {
  font-family: 'Prompt', sans-serif;
}

a {
  text-decoration: none;
}

