* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-left {
  position: absolute;
  top: 16px;
  left: 20px;
}

.number {
  color: white;
  background-color: lightgray;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  opacity: 0.5;
}

.japanese {
  font-family: $font-japan;
}

.japanese-calligraphy {
  font-family: $font-japan-calligraphy;
}

.inline {
  display: inline;
  padding-right: 1vw;
}

.meaning {
  padding-top: 10px;
  font-family: 'Arial', sans-serif;
}



.kosugi {
  font-family: 'Kosugi Maru', sans-serif;
  padding: 5px;
}
.otsutome {
  font-family: 'Otsutome',  sans-serif;
  padding: 5px;
}
.kai {
  font-family: 'kai', sans-serif;
  padding: 5px;
}
.goku {
  font-family: 'goku', sans-serif;
  padding: 5px;
}
.riit {
  font-family: 'riit', sans-serif;
  padding: 5px;
}
.aihara {
  font-family: 'aihara', sans-serif;
  padding: 5px;
}
.noto {
  font-family: 'Noto Serif JP', sans-serif;
  padding: 5px;
}

