// Typography
$font-japan-calligraphy: 'Otsutome', 'Noto Serif JP', 'JapaneseRadicals', serif;
$font-japan: 'Kosugi Maru', 'JapaneseRadicals', serif;

$card-radius: 10px;
$kanji-color: #4F84C4;

// Categories
//$number: #FE840E;
//$weapon: #DD4132;
//$other: #DFCFBE;
//$fishing: #00539C;
//$home: #6B5B95;
//$body: #FA9A85;
//$capability: #616247;
//$nature: #A9754F;
//$ceremony: #2A293E;
//$society: #3F69AA;
//$agriculture: #92B558;
//$clothing: #B565A7;
//$animal: #5A3E36;
//$food: #EFC050;
//$color: #2E4A62;

$other: #8c8fae;
$home: #584563;
$animal: #3e2137;
$nature: #9a6348;
$body: #d79b7d;
$last: #f5edba;
$capability: #c0c741;
$agriculture: #647d34;
$number: #e4943a;
$weapon: #9d303b;
$fishing: #d26471;
$clothing: #70377f;
$food: #7ec4c1;
$society: #34859d;
$color: #17434b;
$ceremony:  #1f0e1c;


// Sorts
$number-sort: #FF6F61;
$category-sort: #955251;
$reading-sort: #45B8AC;
$frequency-sort: #485167

